<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/main">

<body>
<blockquote class="layui-elem-quote layui-text">
    <div class="layui-form">
            标题:
            <div class="layui-inline">
                <input class="layui-input" name="title" id="title" autocomplete="off">
            </div>
            分类信息:
            <div class="layui-input-inline">
                <select name="category"  lay-search="" id="category" autocomplete="off">
                    <!--<option value="">直接选择或搜索选择</option>-->
                    <!--<option value="1">java</option>-->
                </select>
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn" data-type="reload">搜索</button>
                <button class="layui-btn" data-type="refurbish">刷新</button>
            </div>
    </div>
</blockquote>
<fieldset class="layui-elem-field" style="margin-top: 20px;">
    <legend style="text-align:center;">文章列表</legend>
    <div class="layui-field-box layui-form">
        <table class="layui-table"  lay-filter="article" id="articleTable">

        </table>
    </div>
</fieldset>
</body>
</html>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="{{d.id}}" value="{{d.is_show}}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" {{ (d.is_show == 0) ? ('checked') : ('') }} />
</script>
<script type="text/html" id="checkboxTpl">
    <input type="checkbox" name="{{d.id}}" value="{{d.stick}}" title="置顶" lay-filter="stick" {{ (d.stick == 1) ? ('checked') : ('') }} />
</script>
<script>
    $(function () {
        $.get('/getAllCatalog',function (_d) {
            var _html = '<option value>直接选择或搜索选择</option>';
            $.each(_d,function(i){
                _html += '<option value="'+_d[i].id+'">'+_d[i].name+'</option>';
            });
            $('#category').html(_html);
        });
    });
    layui.use(['table','form'], function(){
        var table = layui.table
        ,form = layui.form;

        //所获得的 tableIns 即为当前容器的实例
        var tableIns = table.render({
            elem: '#articleTable'
            ,id : 'articleTable'
            ,url: '/adminGetArticleList' //设置异步接口
            ,page : true
            ,limits: [10, 20, 30, 40, 50] //分页记录数列表项，默认到90
            ,limit: 10   //默认每页多少条，默认60
            ,height: 380
            ,width: 1170
            ,cols: [[
                 {checkbox: true}
                ,{field: 'id', title: 'ID', width: 60}
                ,{field: 'title', title: '标题', width: 250}
                ,{field: 'category', title: '分类', width: 100}
                ,{field: 'is_show', title: '是否显示', width: 100,templet: '#switchTpl'}
                ,{field:'create_date',title: '创建时间', width:170, templet: '<div>{{ layui.laytpl.toDateString(d.create_date,"yyyy-MM-dd HH:mm:ss")}}</div>'}
                ,{field:'comment_count',title: '评论数', width:75}
                ,{field: 'click', title: '点击量', width: 75}
                ,{field: 'stick', title: '置顶', width: 100,templet: '#checkboxTpl'}
                ,{fixed: 'right', width:180, align:'center', toolbar: '#barDemo',title: '操作'}]] //设置表头
        });


        table.on('tool(article)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.open('/articleDetail?id='+data.id);
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        type: 'get',
                        url: '/adminDelArticle',
                        data: {'id':index},
                        dataType: "json",
                        success: function (data, status) {
                            layer.alert(data.msg, {

                            });
                        },
                    })
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                top.$('#S002').attr('src','/adminArticleUpdate?id='+data.id);
            }
        });

        //监听性别操作
        form.on('switch(isShow)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        //监听锁定操作
        form.on('checkbox(stick)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        var active = {
            reload: function () {
                //这里搜索
                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        'title': $('#title').val(),
                        'category': $('#category').find("option:selected").val()
                        //…
                    }
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            },
            refurbish: function () {
                tableIns.reload();
            }
        }
        $('.layui-form .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
