<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/main">

<body>
<fieldset class="layui-elem-field" style="margin-top: 30px;">
    <legend style="text-align:center;">文章列表</legend>
    <div class="layui-field-box layui-form">
        <table class="layui-table"  lay-filter="article" id="articleTable">

        </table>
    </div>
</fieldset>
</body>
</html>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="is_show" value="{{d.is_show}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo" {{ (d.is_show == 0) ? ('checked') : ('') }} />
</script>
<script>
    layui.use('table', function(){
        var table = layui.table
        ,form = layui.form;

        //所获得的 tableIns 即为当前容器的实例
        var tableIns = table.render({
            elem: '#articleTable'
            ,id : 'articleTable'
            ,url: '/adminGetArticleList' //设置异步接口
            ,page : true
            ,limits: [10, 20, 30, 40, 50] //分页记录数列表项，默认到90
            ,limit: 10   //默认每页多少条，默认60
            ,height: 380
            ,width: 1150
            ,cols: [[
                 {checkbox: true}
                ,{field: 'id', title: 'ID', width: 60}
                ,{field: 'title', title: '标题', width: 250}
                ,{field: 'category', title: '分类', width: 100}
                ,{field: 'is_show', title: '是否显示', width: 120,templet: '#switchTpl'}
                ,{field:'create_date',title: '创建时间', width:155, templet: '<div>{{ layui.laytpl.toDateString(d.create_date,"yyyy-MM-dd")}}</div>'}
                ,{field:'comment_count',title: '评论数', width:80}
                ,{field: 'click', title: '点击量', width: 80}
                ,{fixed: 'right', width:245, align:'center', toolbar: '#barDemo',title: '操作'}]] //设置表头
        });
        table.on('tool(article)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.open('/articleDetail?id='+data.id);
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        type: 'get',
                        url: '/adminDelArticle',
                        data: {'id':index},
                        dataType: "json",
                        success: function (data, status) {
                            layer.alert(data.msg, {

                            });
                        },
                    })
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                //var iframe = $('.layui-show',parent.document).src;
                //console.info(iframe);
                //iframe.src= '/adminArticleUpdate?id='+data.id;
                //window.location.href = '/adminArticleUpdate?id='+data.id;
                top.$('#S002').attr('src','/adminArticleUpdate?id='+data.id);
            }
        });
    });
</script>
