<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../css/home.css}"/>
<footer class="footer">
    <div class="footavatar site-footer clearfix u-textAlignCenter">
        <img th:src="@{../images/lufu.jpg}" alt="官方微信二维码" title="扫码关注官方微信，更多资讯抢先获取" class="footphoto"/>
        <ul class="footinfo">
            <p class="fname"><a>LoveYuan's Blog</a></p>
            <p class="finfo">LoveYuan's Blog</p>
        </ul>
    </div>
    <div class="Copyright">
        <p>
            <!-- <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=c4f068d3baefa9f0e31f6271d9bebe70e542830dd6e713d7689fd2a084a952e7">
                  <img src="//pub.idqqimg.com/wpa/images/group.png" alt="php行业交流" title="php行业交流" border="0"/>
              </a>-->
        </p><br/>
        Powered by <a href="/" target="_blank">LoveYuan's Blog</a>
    </div>
</footer>

</html>