<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/main">
<head>
    <meta charset="utf-8"/>
    <title>LOVE YUAN Blog登录</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">MY Blog</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a><i class="layui-icon" style="font-size: 30px;">&#xe609;</i> 欢迎来到LOVE YUAN Blog后台系统</a></li>
             </ul>
        </div>
    </div>
</body>
</html>
<script>
    layui.use(['form', 'layedit', 'laydate','element'], function() {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                ,element = layui.element
    });
function login() {
  // var _validator = $('#loginForm').data('bootstrapValidator');
//    if (!_validator.isValid()) {
//        _validator.validate();
//        layer.msg('请填写用户名和密码!');
//        return  false;
//    }
    $.ajax({
        type: 'post',
        url: '/login/userLogin',
        data: {'login_name' : $('#login_name').val(), 'password' : $('#password').val()},
        dataType: "json",
        beforeSend: function (XMLHttpRequest) {

        },
        success: function (data, status) {
            if (data.success == true) {
                window.location.href = '/adminIndex';
            }
            layer.msg(data.msg);
        },
        complete: function (XMLHttpRequest, textStatus) {

        },
        error: function () {

        }
    });
    return false;
}
</script>

