<html lang="en" xmlns:th="http://www.thymeleaf.org"
                     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                     layout:decorator="/main">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Minimal and Clean Sign up / Login and Forgot Form by FreeHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />




    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />


</head>
<body class="style-3">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">


            <!-- Start Sign In Form -->
            <form action="#" class="fh5co-form animate-box " data-animate-effect="fadeInRight" id="signUpForm" >
                <h2>Sign Up</h2>
                <div class="form-group">
                    <div class="alert alert-success" role="alert">Your info has been saved.</div>
                </div>
                <div class="form-group">
                    <label for="login_name" class="sr-only">LoginName</label>
                    <input type="text" class="form-control" id="login_name" placeholder="登录名" autocomplete="off" name="login_name"/>
                </div>
                <div class="form-group">
                    <label for="name" class="sr-only">Email</label>
                    <input type="text" class="form-control" id="name" placeholder="name" autocomplete="off" name="name"/>
                </div>
                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off" name="email"/>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" name="password"/>
                </div>
                <div class="form-group">
                    <label for="rePassword" class="sr-only">Re-type Password</label>
                    <input type="password" class="form-control" id="rePassword" placeholder="Re-type Password" autocomplete="off"  name="rePassword"/>
                </div>
                <div class="form-group">
                    <label for="remember"><input type="checkbox" id="remember"/> Remember Me</label>
                </div>
                <div class="form-group">
                    <p>Already registered? <a href="loginHtml">Sign In</a></p>
                </div>
                <div class="form-group">
                    <input type="button" value="注册" class="btn btn-primary" onclick="saveUser()"/>
                </div>
            </form>
            <!-- END Sign In Form -->


        </div>
    </div>
    <div class="row" style="padding-top: 60px; clear: both;">
        <div class="col-md-12 text-center"><p><small>Roger </small></p></div>
    </div>
</div>


</body>
</html>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

    });

function  saveUser() {
//    var _validator = $('#signUpForm').data('bootstrapValidator');
//    if (!_validator.isValid()) {
//        _validator.validate();
//        layer.msg('请将信息填写完整!');
//        return  false;
//    }
        //表单提交的方法、比如ajax提交
        var _data = getFormJson('#signUpForm');
        delete  _data.rePassword;
        console.info(_data);
        $.ajax({
            type: 'post',
            url: '/user/addUser',
            data: _data,
            dataType: "json",
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data, status) {
                layer.msg('保存成功,请前往登录页面', {
                    time: 20000, //20s后自动关闭
                    btn: ['好的','取消'],
                    yes: function(){
                        window.location.href = '/login/loginHtml';
                    },
                    btn2:function(){
                        location.reload();
                    }
                });
            },
            complete: function (XMLHttpRequest, textStatus) {

            },
            error: function () {

            }
        });
        return false;
    }
//获取formJSON对象
function getFormJson(form) {
    var o = {};
    var a = $(form).serializeArray();
    $.each(a, function () {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
}


</script>